<button
  class="button-round {{#if modifier}} button--{{modifier}}{{/if}}"
  type="{{type}}"
  aria-label="{{ariaLabel}}"
   data-route="{{dataRoute}}"
>
  <span class="button-round__icon">
    <img src="{{icon}}" alt="{{alt}}" />
  </span>
</button>
